body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: "Comfortaa", cursive;
  color: white;
}


.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  --width: 2.5em; /* 40 */
  --height: 4.4em; /* 70 */
  width: var(--width);
  height: var(--height);
  margin-left: calc(var(--width) * -0.5);
  bottom: 1em;
  margin-top: calc(var(--height) * -0.5);
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 250em; /* circle */
  font-size: .5rem;
}
.icon-scroll:before {
  --size: calc(var(--width) * 0.20);
  content: '';
  width: var(--size);
  height: var(--size);
  background: #fff;
  /* margin-left: calc(0.5 * var(--size)); */
  left: 0;
  right: 0;
  margin: 0 auto;
  top: var(--size);
  border-radius: var(--size);
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    top: var(--size);
  }
  100% {
    opacity: 0;
    top: calc(var(--height) - 2* var(--size));
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    top: var(--size);
  }
  100% {
    opacity: 0;
    top: calc(var(--height) - 2* var(--size));
  }
}

[id^=section] .hero-body {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-out;
  transform: translate3d(0, 50px, 0);
}

.is-active[id^=section] .hero-body {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.title,
#kb-main-subtitle {
  font-family: "Comfortaa", cursive;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Righteous", cursive;
}

.kb-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.kb-om {
  width: 80%;
}

.kb-logo {
  max-width: 200px;
}

.hero.is-fullheight > .hero-body {
  padding-top: 0;
  padding-bottom: 0;
}

#kb-main-subtitle {
  text-align: center;
}

.github-logo {
  margin-left: 0.5em;
  margin-right: 0.2em;
  width: 1.5em;
}

.kb-kibibit {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.05em;
  opacity: 0.7;
}

footer.footer a:not(.powered-by):not(.button) {
  color: mediumorchid;
  transition: color 250ms;
}

footer.footer a:hover {
  color: #00B0D8;
}

.kb-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.kb-centered > img {
  width: 80%;
  margin-bottom: 1em;
}

.kb-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.kb-container > img {
  width: 90%;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  /* padding-right: 5em; */
  /* transition: padding 250ms; */
  margin-bottom: 2rem;
}